h1 Angular Socket.io IM Demo App
div(ng-controller='chatCtrl')
    .col
      h3 Messages
      .overflowable.msgscontainer
        p(ng-repeat='message in messages',
          ng-class='{alert: message.username == "chatroom"}',
          data-msgid="{{message.msgId}}",
          data-userid="{{message.userId}}") {{message.username}}: {{message.text}}

    .col
      h3 Users
      .overflowable.userscontainer
        div(class="usercontainer", ng-class="{ 'isuser': user.isMyself, 'istyping': user.isTyping }", usercontainer, data-userid="{{user.id}}", ng-repeat='user in users') {{user.name}}
            div(class="geoloccontainer", ng-if="user.geoloc.lastUpdateDate")
                a(href="http://maps.google.com/maps?q={{user.geoloc.lat}},{{user.geoloc.lon}}") Link to position map
                span  - Last updated: {{user.geoloc.lastUpdateDate | dater}}
            span(class="typing-indicator", ng-if="user.isTyping")  typing...
            
        div(class="usercontainer", ng-class="{ 'isuser': user.isMyself, 'istyping': user.isTyping }", usercontainer, data-userid="{{user.id}}", ng-repeat='user in dataStore.users') {{user.name}}
            div(class="geoloccontainer", ng-if="user.geoloc.lastUpdateDate")
                a(href="http://maps.google.com/maps?q={{user.geoloc.lat}},{{user.geoloc.lon}}") Link to position map
                span  - Last updated: {{user.geoloc.lastUpdateDate | dater}}
            span(class="typing-indicator", ng-if="user.isTyping")  typing...
    .clr
      form(ng-submit='sendMessage()')
        | Message: 
        input(size='60', ng-model='message', ng-keypress='userIsTypingSend()')
        input(type='submit', value='Send')

    .clr
      h3 Change your name
      p Your current user name is {{myself.name}}
      form(ng-submit='changeName()')
        input(ng-model='newName')
        input(type='submit', value='Change Name')