extends layout

block content
  include ./partials/sidebar.jade
    //div(layout="column" flex id="content")
  div(layout="column" class="relative" layout-fill role="main")
    include ./partials/navbar.jade
    md-content(flex md-scroll-y)
      ui-view(layout="column" layout-fill layout-padding)
        div(class="inset" hide-sm)
          ng-switch(on="data.selectedIndex" class="tabpanel-container")
            div(role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()" layout="row" layout-align="center center")
              md-card(flex-gt-sm="90" flex-gt-md="80")
                md-card-content
                  include ./partials/chat.jade
            div(role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()" layout="row" layout-align="center center")
              md-card(flex-gt-sm="90" flex-gt-md="80")
                md-card-content
                  include ./partials/overview.jade
      
  
//  .rating-container(ng-if="dataloading == 'itsloading'")
//      p Betyg: LOADING...
//   .rating-container(ng-if="dataloading == 'notloading'")
//      p Betyg: