/* app css stylesheet */

/* 

colors:
    black: #404040;

*/

@font-face{

font-family:Raleway;
 font-style:normal;
 font-weight:300;
 src:local("Raleway Light"),
local("Raleway-Light"),
url(../fonts/Raleway-Light.woff) format("woff")
}
@font-face{

font-family:Raleway;
 font-style:normal;
 font-weight:800;
 src:local("Raleway ExtraBold"),
local("Raleway-ExtraBold"),
url(../fonts/Raleway-ExtraBold.woff) format("woff")
}
.container {
    background-color:#fff;
}
body {
    font-size:1.1em;
    font-weight:bold;
    color:#404040;
    background-color:#ffffff;
    font-family:Raleway,
    sans-serif;
}
h1 {
  font-size: 1em;
  margin: 0;
}
h2 {
  font-size: 1em;
  margin: 0;
}
.menu {
    list-style:none;
    border-bottom:0.1em solid black;
    margin-bottom:2em;
    padding:0 0 0.5em;
}
.menu:before {
    content:"[";
}
.menu:after {
    content:"]";
}
.menu > li {
    display:inline;
}
.menu > li:before {
    content:"|";
    padding-right:0.3em;
}
.menu > li:nth-child(1):before {
    content:"";
    padding:0;
}
#loadericon.loading {
    background:url("/img/loader.gif") repeat scroll 0 0 rgba(0,
    0,
    0,
    0);
    display:inline-block;
    height:20px;
    width:20px;
    left:3px;
    position:relative;
    top:5px
}
.cover:hover {
    height:80px;
}
.cover {
    background-color:#ECECEC;
    border:1px solid #000000;
    display:inline-block;
    height:11px;
    margin:0;
    position:relative;
    top:3px;
}
#searchcontainer #resultlist li:hover {
    background-color:#808080;
    color:#FFFFFF;
}
#resultlist li:hover .cover {
    box-shadow:0 0 5px 5px #808080;
    height:80px;
    position:absolute;
    top:auto;
    z-index:99;
}
#statusbar span,
#statusbar p {
    display:inline-block;
    font-weight:normal;
}
#querystatusnow {
    margin-right:5px;
}
#statusbar #querystatusnow.loading {
    color:#2CB63C;
    font-weight:bold;
    margin-right:3px;
}
#statusbar .currentquery {
    font-weight:bold;
    margin-left:3px;
}
#hitscounter p,
#hitscounter span {
    display:inline-block;
    font-weight:normal;
}
#hitscounter span {
    font-weight:bold;
    margin-left:2px;
}
p {
    margin-bottom:0;
    margin-top:0;
}
#resulthead h4 {
    display:inline-block;
    margin-right:10px;
}
h4 {
    margin-bottom:0;
    margin-top:0;
    font-weight:700;
}
#resulthead {
    margin-top:5px;
}
#resultlist {
    background-color:#808080;
    margin-top:5px;
    padding:5px;
}
#resultlist li:nth-child(2n+1) {
    background-color:#E0E0E0;
}
#resultlist li:nth-child(2n) {
    background-color:#C8C8C8;
}
#resultlist li > a,
#resultlist li > span {
    margin-right:7px;
    vertical-align:middle;
}
.title {
    display:inline-block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    width:20%;
}
.author {
    display:inline-block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    width:10%;
}
#resultlist li {
    height:auto;
    list-style:none outside none;
}
/* on the img cover test
.testare.test2 {
    left: 0;
    opacity: 1;
    top: 0;
    transition: all 1s ease 0s;
    width: 100%;
}
.testare {
    left: 50%;
    opacity: 0.1;
    position: fixed;
    top: 50%;
    transition: all 1s ease 0s;
    width: 1%;
    z-index: 999;
}
*/

.rating-container {
    display:inline-block;
    width:230px;
}
.rating-container p,
.rating-container span {
    display:inline-block;
    margin-right:5px;
}
.progress {
    cursor:progress;
}
#modecontainer {
    border:1px solid #D3D3D3;
    margin-bottom:5px;
    margin-top:5px;
    padding:5px;
}
.statusmode.active {
    font-weight:bold;
}
.statusmode {
    display:inline-block;
    margin-left:5px;
}
.onlinestatus-offline,
#connected,
#connected.disconnected {
    color:red;
}
.onlinestatus-online,
#connected.connected {
    color:green;
}
.extrainfo {
    font-size:0.8em;
}
#cachestatus.uncached,
#cachestatus.obsolete {
    color:#ff0000;
}
#cachestatus.downloading,
#cachestatus.checking,
#cachestatus.updateready {
    color:#ff8c00;
}
#cachestatus.idle {
    color:#008000;
}
#pingval {
    display:inline-block;
    width:1.5em;
}
.geoloccontainer {
    display:inline;
    margin-left:10px;
    font-size:0.8em;
}
.overflowable.msgscontainer {
  border: 1px solid #d3d3d3;
  display: inline-block;
  max-height: 15em;
  min-height: 1em;
  min-width: 20%;
  overflow: scroll;
  padding: 1em 1em 1em 0;
}
.usercontainer.isuser {
  color: #808080;
}